/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color, #000000);
  background-color: var(--background-color, #ffffff);
  background-image: repeating-linear-gradient(to left,
      transparent 0 2px,
      var(--background-image-color-repetitive, #d3d3d3) 2px 4px),
    repeating-linear-gradient(to bottom,
      transparent 0 2px,
      var(--background-image-color-repetitive, #d3d3d3) 2px 4px),
    linear-gradient(to bottom,
      var(--background-image-color-stripes, #e7e7e7) 0.01%,
      var(--background-mix-color, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
}

.content {
  border: 2px solid var(--accent-color, #000);
  background: var(--background-color, #fff);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: 100px 0;
  font-family: var(--accent-font), "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
  background: var(--header-background);
  justify-self: center;
  padding-top: 136px; 
  padding-block-end: 22px; 
  text-align: start;
  gap: 21px; 
}
/* 
display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 101px;
  inline-size: clamp(23.188rem, 15.986rem + 31.057vw, 43.938rem);
  flex-shrink: 0;
  margin-block-end: 100px;
  */

.header__main_title {
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: clamp(3.063rem, 2.715rem + 1.497vw, 4.063rem);
  font-weight: var(--regular-font-weight, 400);
  text-transform: uppercase;
  /* padding-block: 135px 22px; */
}

.header__title {
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: clamp(0.875rem, 0.68rem + 0.842vw, 1.438rem);
  font-weight: var(--regular-font-weight, 400);
  text-transform: uppercase;
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.theme-menu__list {
  position: relative; 
  display: grid; 
  gap: 12px;
  padding-inline-start: 20px; 
}

 /*
.header__theme-menu { 
  padding-block-end: 22px; 
}*/

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button {
  position: relative;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-weight: var(--regular-font-weight, 400);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -16px;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-weight: var(--regular-font-weight, 400);
  text-transform: uppercase;
  animation: header-arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--accent-color, #000);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus {
  outline: none;
}

.memory {
  border: none;
  background: none;
  max-width: 700px;
}

.memory__list {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.memory__item {
  border: 2px solid var(--accent-color, #000);
}

.memory__title {
  display: flex;
  color: var(--accent-color, #000);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: var(--bold-font-weight, 700);
  padding: 6px 10px 3px;
  border-block-end: 2px solid var(--accent-color, #000);
  background: var(--background-color, #fff);
  align-items: center;
  font-variation-settings: "wght" var(--bold-font-weight, 700);
}

/*
.header__theme-menu {
  padding-block-end: 20px;
}
*/

.memory__conteiner {
  position: relative;
}

.memory__title-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: clamp(23.188rem, 16.116rem + 30.496vw, 43.563rem);
}

.filter__blur {
  filter: blur(5px);
}

.filter__brightness {
  filter: brightness(0.3);
}

.filter__contrast {
  filter: contrast(100%) brightness(60%);
}

.filter__grayscale {
  filter: grayscale(40%);
}

.filter__invert {
  filter: invert(75%);
}

.filter__saturate {
  filter: saturate(20%);
}

.filter__opacity {
  filter: opacity(60%);
}

.memory__label {
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-weight: var(--regular-font-weight, 400);
  text-transform: uppercase;
  position: absolute;
  top: clamp(1.375rem, 1.288rem + 0.374vw, 1.625rem);
  right: clamp(0.688rem, 0.362rem + 1.403vw, 1.625rem);
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-shadow, #ffffff),
    0 1px var(--text-shadow, #ffffff), 1px 0 var(--text-shadow, #ffffff),
    0 -1px var(--text-shadow, #ffffff);
}

@supports not (text-shadow: -1px 0 var(--text-shadow, #ffffff),
  0 1px var(--text-shadow, #ffffff),
  1px 0 var(--text-shadow, #ffffff),
  0 -1px var(--text-shadow, #ffffff)) {
  .memory__label {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-shadow, #ffffff);
  }
}

.memory__main-section {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-block-start: 2px solid var(--accent-color, #000);
  background: var(--background-color, #fff);
  block-size: 100%;
  padding: 26px 25px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  
}

.memory__main-section-text {
  color: var(--accent-color, #000);
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  font-weight: var(--regular-font-weight, 400);
  line-height: 21px; 
}

/*
.memory__main-section-text:first-child {
  flex-direction: column;
  gap: 27px;
}
*/

.memory__main-section-use {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}

.memory__main-section-button {
  position: relative;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 90%;
  /* 12.6px */
  display: flex;
  width: 130px; 
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  background: var(--background-color, #fff);
  cursor: pointer;
  font-weight: 400;
}

.button__text {
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color, #ffffff);
}

.memory__main-section-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.memory__main-section-button::after {
  content: "";
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.memory__main-section-button:hover::after {
  transform: scaleX(1);
}

.memory__main-section-button-like {
  padding: 0;
  background: var(--background-color, #fff);
  border: 2px solid transparent;
  transition: border 0.3s ease; 
}

.memory__main-section-button-like:focus-visible {
  border: 2px solid var(--accent-color, #000);
  outline: none;
}

/* Modal */

.dialog {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  padding: 30px 26px;
  color: var(--text-color);
  background: var(--page-background);
  border: 2px solid var(--stroke-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (width <= 375px) {
  .dialog__container {
    gap: 28px;
  }
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

.dialog__text-container {
  display: flex;
  gap: 22px;
  align-items: center;
}

@media (width <= 375px) {
  .dialog__text {
    width: 80%;
  }
}

.dialog .floppy-image {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

@media (width <= 375px) {
  .dialog {
    padding: 32px 38px;
  }
}

.save {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 105px;
  inline-size: clamp(19.125rem, 18.496rem + 3vw, 21.22rem);
}

.save__button {
  inline-size: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.save__to-disk {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.save__to-disk-text {
  position: relative;
}

.icon__floppy {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #ffffff);
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}


#floppy {
  fill: var(--like-icon, red);
}

#dialog-id {
  z-index: 1;
  grid-gap: 30px;
  inline-size: 357px;
  padding: 29px 32px;
  border: 2px solid var(--accent-color, #000);
  position: fixed;
  inset: 0;
  display: grid;
  border-width: 1px;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--background-color, #ffffff);
}

#dialog-id:not([open]) {
  display: none;
  opacity: 0;
}

#dialog-id::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dialog__content-icon__floppy {
  inline-size: 86px; 
  block-size: 39px;  
}

.ok-button {
  text-transform: uppercase;
  width: 100%;
}

.dialog__content-text {
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-weight: var(--regular-font-weight, 400);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_form {
  display: contents;
}

@media (max-width: 730px) {
  .header {
    inline-size: 100%;
    min-inline-size: 0;
  }

  .memory {
    inline-size: 100%;
  }
}

@media (max-width: 376px) {
  .header {
    min-inline-size: 100%;
  }

  .header__main_title {
    padding-block: 121px 22px;
  }

  .memory {
    min-inline-size: 100%;
  }

  .memory__main-section-text:first-child {
    padding-block-end: 48px;
  }

  .save__to-disk {
    flex-direction: column;
    gap: 12px;
  }

  .icon__floppy {
    width: 21px;
    height: 21px;
}
}
